/* HEADER */

header {
    background-color: #ffe4c4;
    display: flex;
    padding: 10px;
    width: 100%
}

header .logo {
    display: flex;
    width: 100px;
}

.logo h2 {
    background-color: #fdcd92;
    color: #a52020;
    margin: 0 5px 0 10px;
    padding: 5px;
}

.header-button {
    position: absolute;
    right: 5%;
}

.header-button button {
    margin: 10px 2.5px 0 2.5px;
    border-radius: 5px;
}

header .login-button {
    background-color: #4b9dfa;
    color: #ffffff;
}

/* TOP LOCALITIES */

.top-localities {
    max-width: 80%;
    margin: 30px auto;
    text-align: center;
}

.top-localities .locality-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locality-showcase .locality-box {
    background-image: linear-gradient(to bottom right,#fdcd92 60%, #a1434371);
    margin: 5px;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: #808080 5px 5px 10px;
    color: #9e4545;
}

.locality-showcase .locality-box :hover {
    cursor: pointer;
}

.locality-showcase .locality-box img{
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.locality-showcase .locality-box h4 {
    margin: 5px 0;
}

.top-localities button {
    margin-top: 15px;
}

/* Why Us section*/

.why-us {
    background-color: #ffe4c4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.why-us .why-us-left {
    margin-right: 100px;
}

.why-us .why-us-left h2{
    margin-bottom: 0;
}

.why-us .why-us-left h5{
    margin-top: 0;
}

.why-us-right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}

.why-us-right .feature img{
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}