* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */

header {
    background-color: #ffe4c4;
    display: flex;
    padding: 10px;
    width: 100vw;
}

header .logo {
    display: flex;
    width: 100px;
    cursor: pointer;
}

.logo h2 {
    background-color: #fdcd92;
    color: #a52020;
    margin: 0 5px 0 10px;
    padding: 5px;
}

.header-button {
    position: absolute;
    right: 5%;
}

.header-button button {
    background-color: #ffe4c4;
    border: none;
    font-size: 15px;
    margin: 10px 2.5px 0 2.5px;
    border-radius: 5px;
    cursor: pointer;
}

.header-button button:hover {
    background-color: #a52020;
    color: #ffffff;
    font-size: 16px;
    transition: 0.5s;
}

.header-button button:active {
    background-color: #a52020;
    color: #ffffff;
    font-size: 15px;
    transition: 0.5s;
}

header .login-button {
    background-color: #9e4545;
    width: 90px;
    height: 25px;
    color: #ffffff;
}

/* SIGN-UP PAGE */
.signup-container {
   display: flex;
}

.signup-container .signup-left, .signup-right {
    
    border: solid;
}

.signup-container.signup-left {
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

/* CREDITS PAGE */
.credits h3, p {
    text-align: center;
    color: #a52020;
}

.credits p {
    color: #000000;
}

.credits h6{
    font-size: 17px;
    margin: 0 20px;
    color: #9e4545;
}

.credits a {
    text-decoration: none;
}

 /* FOOTER */
 
 footer {
    margin: 5px 0 0 0;
    background-color: #ffe4c4;
    padding: 10px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #9e4545;
}

